* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none !important;
  color: #fff !important;
}

.background_image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("./img/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1000;
}

/* cursor pointer */
.cp {
  cursor: pointer;
}

/* width fit */
.wf {
  width: fit-content;
}

/* text underline offset */
.tuo {
  text-underline-offset: 0.5em;
}

/* hover link */
.hl {
  text-decoration: none !important;
  border: none;
  color: #fff;
}

.hl:hover {
  color: darkgoldenrod !important;
  transition: 0.2s ease-in-out;
}

/* background black transparent */
.bbt {
  background-color: rgba(0, 0, 0, 0.75);
}